<div style="min-height:80vh" class="row">
    <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">User Information</div>
            <ul class="list-group" *ngIf="currentUser() | async as user">
                <li class="list-group-item">Email: {{user.email}}</li>
                <li class="list-group-item">Display Name: {{user.displayName}}</li>
                <li class="list-group-item">Uid: {{user.uid}}</li>
                <li class="list-group-item">Provider Id: {{user.providerId}}</li>
                <li class="list-group-item" *ngIf="user.photoURL"><img style = "max-width: 200px !important;"
                        [src]="user.photoURL"/></li>
            </ul>
            
        </div>
        
    </div>
    <div class="col-md-6 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Ticket Dashboard</div>
                <mat-accordion>
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                    <a href="#">Ticket No. 10024</a>
                              
                            </mat-panel-title>
                            <mat-panel-description>
                              Create better Accessability in ordering from amazon
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                          <mat-action-row>
                                <button mat-button color="primary" (click)="openDialog(10024)" >Open</button>
                              </mat-action-row>
                        
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                          <a href="#">Ticket No. 6685</a>
                                    
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    Create better Accessability in ordering from amazon
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                              
                              <mat-action-row>
                                <button mat-button color="primary" (click)="openDialog('new')" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                              <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                      <mat-panel-title>
                                              <a href="#">Ticket No. 55533</a>
                                        
                                      </mat-panel-title>
                                      <mat-panel-description>
                                        Create better Accessability in ordering from amazon
                                      </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                  
                                  <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                  <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                                  <a href="#">Ticket No. 1234</a>
                                            
                                          </mat-panel-title>
                                          <mat-panel-description>
                                            Create better Accessability in ordering from amazon
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                      
                                      <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                      <mat-expansion-panel>
                                            <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                      <a href="#">Ticket No. 9911</a>
                                                
                                              </mat-panel-title>
                                              <mat-panel-description>
                                                Create better Accessability in ordering from amazon
                                              </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                          
                                          <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                          <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                  <mat-panel-title>
                                                          <a href="#">Ticket No. 45645</a>
                                                    
                                                  </mat-panel-title>
                                                  <mat-panel-description>
                                                    Create better Accessability in ordering from amazon
                                                  </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                              
                                              <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                              <mat-expansion-panel>
                                                    <mat-expansion-panel-header>
                                                      <mat-panel-title>
                                                              <a href="#">Ticket No. 13355</a>
                                                        
                                                      </mat-panel-title>
                                                      <mat-panel-description>
                                                        Create better Accessability in ordering from amazon
                                                      </mat-panel-description>
                                                    </mat-expansion-panel-header>
                                                    Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                                  
                                                  <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                                  <mat-expansion-panel>
                                                        <mat-expansion-panel-header>
                                                          <mat-panel-title>
                                                                  <a href="#">Ticket No. 12344</a>
                                                            
                                                          </mat-panel-title>
                                                          <mat-panel-description>
                                                            Create better Accessability in ordering from amazon
                                                          </mat-panel-description>
                                                        </mat-expansion-panel-header>
                                                        Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                                      
                                                      <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                                      <mat-expansion-panel>
                                                            <mat-expansion-panel-header>
                                                              <mat-panel-title>
                                                                      <a href="#">Ticket No. 456</a>
                                                                
                                                              </mat-panel-title>
                                                              <mat-panel-description>
                                                                Create better Accessability in ordering from amazon
                                                              </mat-panel-description>
                                                            </mat-expansion-panel-header>
                                                            Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                                          
                                                          <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                                                          <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                  <mat-panel-title>
                                                                          <a href="#">Ticket No. 9825</a>
                                                                    
                                                                  </mat-panel-title>
                                                                  <mat-panel-description>
                                                                    Create better Accessability in ordering from amazon
                                                                  </mat-panel-description>
                                                                </mat-expansion-panel-header>
                                                                Lorem ipsum dolor sit amet, mei ex erant bonorum insolens, atqui nonumes intellegebat mel ea. Ne eos quando corrumpit, ad sed facer quaestio eloquentiam, maiorum mentitum partiendo eu est. Eirmod qualisque quo cu. Sea fuisset deleniti in, ut sapientem deterruisset est.
                                                              
                                                              <mat-action-row>
                                <button mat-button color="primary" >Open</button>
                              </mat-action-row>
                        </mat-expansion-panel>
                            
                        




                        <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                                             (closed)="panelOpenState = false">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              Self aware panel
                            </mat-panel-title>
                            <mat-panel-description>
                              Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <p>I'm visible because I am open</p>
                        </mat-expansion-panel> -->
                      </mat-accordion>
                
            </div>
            
        </div>
</div>
