<!-- <div class="row" *ngIf="isLoggedIn|async">
  <app-display-user></app-display-user>
</div> -->
<div id="main">
<div id="header-main"  class="row" >
  
      <!-- <h1>You need to <a (click)="navigateToLogin($event)" href="#">Log In</a> or <a (click)="navigateToRegister($event)" href="#">Register</a></h1> -->
      <h1> <span style= "color:#0E1826" >Accessibility </span>Advocacy Tracking System</h1>
  
</div>

<hr>
<!-- <div id = "main_img" class = "row">
    <img src="../../assets/home_Img.jpg" >

</div> -->
<div class = "volunteer">
    <h2> <span  >Volunteer </span>Information</h2>
<div class="volunteer-info" >
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dendi Roman</mat-card-title>
          <mat-card-subtitle>Assitive Tech expert</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images.pexels.com/photos/899357/pexels-photo-899357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Alison Brie</mat-card-title>
            <mat-card-subtitle>Works for people with physical disability</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>

        </div>
        <hr>
        <div class="volunteer-info">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Emma Watson</mat-card-title>
              <mat-card-subtitle>Works for people with cognitive disability</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://images.pexels.com/photos/765196/pexels-photo-765196.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  Lorem ipsum dolor sit amet, ne sumo inermis interpretaris mei, at per summo adipiscing. At agam debet quodsi sit. Ea eam causae cetero, cu sed habemus albucius singulis. Ne maiorum laboramus nam. Ea sea dicant legendos.

                  Cu pro offendit maluisset. Placerat verterem cum ex, simul mollis labores in eos. Sed labores voluptua vituperata cu, et tempor albucius deleniti nec, tantas tincidunt democritum cu quo. Mea in alia delicatissimi, eam cu purto integre i
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>John Wick</mat-card-title>
                <mat-card-subtitle>Works for people with hearing disability</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://images.pexels.com/photos/450271/pexels-photo-450271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                  simul mollis labores in eos. Sed labores voluptua vituperata cu, et tempor albucius deleniti nec, tantas tincidunt democritum cu quo. Mea in alia delicatissimi, eam cu purto integr
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
</div>
</div>


</div>
