<div>
    <h2 mat-dialog-title>Work on Ticket</h2>
    <hr>
    <mat-dialog-content >
        <div class ="form-component" *ngIf = "data == 'new'" >
            <mat-form-field>
                <input matInput placeholder="Name" [(ngModel)]="ticket.name" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" [(ngModel)]="ticket.emailid" [formControl]="email" required>
                <mat-error *ngIf="!getErrorMessage()">
                    Please enter a valid email address
                </mat-error>

            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="ticket.subject" placeholder="Subject">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput matTextareaAutosize minRows="3" [(ngModel)]="ticket.desc" placeholder="Description"></textarea>

            </mat-form-field>

            <strong>{{data}}</strong>



        </div>
        <div class ="form-component" *ngIf = "data != 'new'" >
            <mat-form-field>
                <input matInput placeholder="{{data}}" [(ngModel)]="ticket.name"  [readonly]="true">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="ayush@ruchandani.com" [(ngModel)]="ticket.emailid" [formControl]="email"  [readonly]="true">

            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="ticket.subject" placeholder="Create better Accessability in ordering from amazon"   [readonly]="true">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput matTextareaAutosize minRows="3" [(ngModel)]="ticket.desc" placeholder="There are issues with placing orders on Amazon.com for the users who have a vision deficiency. I believe there should be a better arrangement for such users so that it eases out the process of placing orders on the giant e-commerce site and enhances the user experience."   [readonly]="true"></textarea>

            </mat-form-field>

            <mat-form-field>
                <textarea matInput matTextareaAutosize minRows="3"  placeholder="Enter your comments" ></textarea>

            </mat-form-field>

            <div style= "display:flex; flex-flow:column;max-width: 10vw; min-height:10vh">
                <mat-select placeholder="Category">
                    <mat-option *ngFor="let cat of cats" [value]="cat.value">
                        {{ cat.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Status">
                    <mat-option *ngFor="let stat of status" [value]="stat.value">
                        {{ stat.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-select placeholder="Severity">
                    <mat-option *ngFor="let sev of seviarities" [value]="sev.value">
                        {{ sev.viewValue }}
                    </mat-option>
                </mat-select>
            </div>



            <!-- <strong>{{data}}</strong> -->



        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
        <button mat-raised-button [disabled]="ticket.name == null|| ticket.subject == null || email.hasError('email') || ticket.emailid == null  "  (click)="onCloseConfirm()">CONFIRM</button>
        <button mat-raised-button (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>
</div>
